/* main */
@use "./base/reset";
@use "./pages/home";

:root{
    --clr-primary-100: hsl(41,100,96);
    --clr-primary-200: hsl(19,100,90); 
    --clr-primary-300: hsl(8,93,82);
    --clr-primary-400: hsl(353,95,69);
    --clr-primary-500: hsl(332,38,26);
}

body{
    height: 100vh;
    display:grid;
    place-items:center;
}
.product__card{
    width:325px;
}

.card__content{
    text-align:center;
    position:relative;
    padding: 5em;
    transform-style: preserve-3d;
    height:375px;
}
.product__image{
    width:250px;
    border-radius: 15px;
}

.card__front,
.card__back{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:2em;
    backface-visibility:hidden;
    transform-style:preserve-3d;
    border-radius:15px;
    background: #fcb1a6;
    border: 6px solid #fb6376;
    color:#5d2a42;
}


.add__button,
.purchase__button{
    padding: 8px;
    font-family: "Rubik";
    border-radius: 5px;
}
.add__button{
    background-color:#5d2a42;
    border:none;
    color:#ffdccc;
}
.add__button:hover{
    background-color:#ffdccc ;
    color:#5d2a42 ;
}

.purchase__button{
    border:none;
    background-color: #ffdccc;
    color:#5d2a42;
}

.purchase__button:hover{
    background-color: #5d2a42;
    color:#ffdccc;
}

@media only screen and (max-width:600px) {
   .product-card{
    width:200px;
   } 
}
@media(hover){
    .card__content{
        transition: transform 3s;
    }
    .product__image,
    .product__title,
    .product__subtitle,
    .card__body{
        transform: translateZ(200px);
    }

    .product__card:hover .card__content{
        transform: rotateY(.5turn);
    }

    .card__body{
        transform: rotateZ(2rem); 
    }

    .card__back{
    transform: rotateY(.5turn);
    }

    .add__button,
    .purchase__button{
        transform: translateZ(200px);
}

}

@media(prefers-reduced-motion:reduce){
    *{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration:0.01 !important;
        scroll-behavior: auto !important;
    }
}